In [2]:
#A Pandas Series is like a column in a table.
#It is a one-dimensional array holding data of any type.

import pandas as pd

a = [10, 20, 30]

var = pd.Series(a)

print(var)

0    10
1    20
2    30
dtype: int64

In [4]:
import pandas as pd

a = [10, 20, 30]

var = pd.Series(a, index = ["x", "y", "z"])

print(var)

x    10
y    20
z    30
dtype: int64

In [8]:
import pandas as pd

product = {"day1":440, "day2": 370, "day3": 300}

var = pd.Series(product)

print(var)

day1    440
day2    370
day3    300
dtype: int64

In [9]:
import pandas as pd

product = {"day1": 420, "day2": 370, "day3": 300}

var = pd.Series(product, index = ["day1", "day2"])

print(var)

day1    420
day2    370
dtype: int64

In [11]:
import pandas as pd

name = {"priti": 20, "abhishek":25, "ram": 45}

var = pd.Series(name)

print(var)

priti       20
abhishek    25
ram         45
dtype: int64