In [1]:
#A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.
import pandas as pd

data = {
  "cost": [420, 380, 390],
  "quantity": [50, 40, 45]
}

df = pd.DataFrame(data)

print(df)

   cost  quantity
0   420        50
1   380        40
2   390        45

In [2]:
#loc using for index row and col data
import pandas as pd

data = {
  "cost": [420, 380, 390],
  "quantity": [50, 40, 45]
}

df = pd.DataFrame(data)
print(df.loc[0])

print(df)

cost        420
quantity     50
Name: 0, dtype: int64
   cost  quantity
0   420        50
1   380        40
2   390        45

In [3]:
##use a list of indexes
import pandas as pd

data = {
  "cost": [420, 380, 390],
  "quantity": [50, 40, 45]
}

df = pd.DataFrame(data)
print(df.loc[[0, 1]])

   cost  quantity
0   420        50
1   380        40

In [7]:
#Add a list of names to give each row a name:
import pandas as pd

data = {
  "cost": [420, 380, 390],
  "quantity": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["apple", "pineapple", "grapes"])

print(df)

           cost  quantity
apple       420        50
pineapple   380        40
grapes      390        45

In [5]:
#Locate Named Indexes
import pandas as pd

data = {
  "cost": [420, 380, 390],
  "quantity": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df.loc["day2"])

cost        380
quantity     40
Name: day2, dtype: int64

In [6]:
#Locate Named Indexes
import pandas as pd

data = {
  "cost": [420, 380, 390],
  "quantity": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["one", "two", "three"])

print(df.loc["two"])

cost        380
quantity     40
Name: two, dtype: int64